### Scraping Top 250 IMDb movies

In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# Define the URL of the site

imdb_url = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

In [ ]:
# get the HTML from the webpage

imdb_url.content

In [ ]:
# lxml parser

soup = BeautifulSoup(imdb_url.content, 'lxml')
print(soup.prettify())

In [ ]:
# Find all td tags on the webpage containing the information we want to scrape

imdb_movies = soup.find_all('td', class_ = 'titleColumn')
imdb_movies

In [13]:
# movie list

movies_name = []
for mov in imdb_movies:
    mov = mov.get_text().replace('\n', '')
    mov = mov.strip(' ')
    movies_name.append(mov)
movies_name

['1.      The Shawshank Redemption(1994)',
 '2.      The Godfather(1972)',
 '3.      The Dark Knight(2008)',
 '4.      The Godfather Part II(1974)',
 '5.      12 Angry Men(1957)',
 "6.      Schindler's List(1993)",
 '7.      The Lord of the Rings: The Return of the King(2003)',
 '8.      Pulp Fiction(1994)',
 '9.      The Lord of the Rings: The Fellowship of the Ring(2001)',
 '10.      Il buono, il brutto, il cattivo(1966)',
 '11.      Forrest Gump(1994)',
 '12.      Fight Club(1999)',
 '13.      The Lord of the Rings: The Two Towers(2002)',
 '14.      Inception(2010)',
 '15.      The Empire Strikes Back(1980)',
 '16.      The Matrix(1999)',
 '17.      Goodfellas(1990)',
 "18.      One Flew Over the Cuckoo's Nest(1975)",
 '19.      Se7en(1995)',
 '20.      Shichinin no samurai(1954)',
 "21.      It's a Wonderful Life(1946)",
 '22.      The Silence of the Lambs(1991)',
 '23.      Cidade de Deus(2002)',
 '24.      Saving Private Ryan(1998)',
 '25.      La vita è bella(1997)',
 '26.      Interstellar(2014)',
 '27.      The Green Mile(1999)',
 '28.      Star Wars(1977)',
 '29.      Terminator 2: Judgment Day(1991)',
 '30.      Back to the Future(1985)',
 '31.      Sen to Chihiro no kamikakushi(2001)',
 '32.      Psycho(1960)',
 '33.      The Pianist(2002)',
 '34.      Gisaengchung(2019)',
 '35.      Léon(1994)',
 '36.      The Lion King(1994)',
 '37.      Gladiator(2000)',
 '38.      American History X(1998)',
 '39.      The Departed(2006)',
 '40.      The Usual Suspects(1995)',
 '41.      The Prestige(2006)',
 '42.      Whiplash(2014)',
 '43.      Casablanca(1942)',
 '44.      Seppuku(1962)',
 '45.      The Intouchables(2011)',
 '46.      Hotaru no haka(1988)',
 '47.      Modern Times(1936)',
 '48.      Once Upon a Time in the West(1968)',
 '49.      Rear Window(1954)',
 '50.      Alien(1979)',
 '51.      City Lights(1931)',
 '52.      Nuovo Cinema Paradiso(1988)',
 '53.      Apocalypse Now(1979)',
 '54.      Memento(2000)',
 '55.      Raiders of the Lost Ark(1981)',
 '56.      Django Unchained(2012)',
 '57.      WALL·E(2008)',
 '58.      The Lives of Others(2006)',
 '59.      Sunset Blvd.(1950)',
 '60.      Paths of Glory(1957)',
 '61.      The Shining(1980)',
 '62.      The Great Dictator(1940)',
 '63.      Avengers: Infinity War(2018)',
 '64.      Witness for the Prosecution(1957)',
 '65.      Aliens(1986)',
 '66.      Spider-Man: Into the Spider-Verse(2018)',
 '67.      American Beauty(1999)',
 '68.      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '69.      The Dark Knight Rises(2012)',
 '70.      Oldeuboi(2003)',
 '71.      Amadeus(1984)',
 '72.      Joker(2019)',
 '73.      Inglourious Basterds(2009)',
 '74.      Coco(2017)',
 '75.      Toy Story(1995)',
 '76.      Braveheart(1995)',
 '77.      Das Boot(1981)',
 '78.      Avengers: Endgame(2019)',
 '79.      Mononoke-hime(1997)',
 '80.      Once Upon a Time in America(1984)',
 '81.      Good Will Hunting(1997)',
 '82.      Top Gun: Maverick(2022)',
 '83.      Kimi no Na wa.(2016)',
 '84.      Requiem for a Dream(2000)',
 "85.      Singin' in the Rain(1952)",
 '86.      Toy Story 3(2010)',
 '87.      3 Idiots(2009)',
 '88.      Tengoku to jigoku(1963)',
 '89.      Star Wars: Episode VI - Return of the Jedi(1983)',
 '90.      Capharnaüm(2018)',
 '91.      Eternal Sunshine of the Spotless Mind(2004)',
 '92.      2001: A Space Odyssey(1968)',
 '93.      Reservoir Dogs(1992)',
 '94.      Jagten(2012)',
 '95.      Idi i smotri(1985)',
 '96.      Citizen Kane(1941)',
 '97.      M - Eine Stadt sucht einen Mörder(1931)',
 '98.      Lawrence of Arabia(1962)',
 '99.      North by Northwest(1959)',
 '100.      Vertigo(1958)',
 "101.      Le fabuleux destin d'Amélie Poulain(2001)",
 '102.      A Clockwork Orange(1971)',
 '103.      The Apartment(1960)',
 '104.      Ikiru(1952)',
 '105.      Double Indemnity(1944)',
 '106.      Full Metal Jacket(1987)',
 '107.      Scarface(1983)',
 '108.      Hamilton(2020)',
 '109.      The Sting(1973)',
 '110.      To Kill a Mockingbird(1962)',
 '111.      Incendies(2010)',
 '112.      Up(2009)',
 '113.      Heat(1995)',
 '114.      Taxi Driver(1976)',
 '115.      Jodaeiye Nader az Simin(2011)',
 '116.      Metropolis(1927)',
 '117.      L.A. Confidential(1997)',
 '118.      Snatch(2000)',
 '119.      Die Hard(1988)',
 '120.      Ladri di biciclette(1948)',
 '121.      Indiana Jones and the Last Crusade(1989)',
 '122.      1917(2019)',
 '123.      Taare Zameen Par(2007)',
 '124.      Der Untergang(2004)',
 '125.      Per qualche dollaro in più(1965)',
 '126.      Batman Begins(2005)',
 '127.      Dangal(2016)',
 '128.      The Kid(1921)',
 '129.      Some Like It Hot(1959)',
 '130.      The Father(2020)',
 '131.      All About Eve(1950)',
 '132.      Green Book(2018)',
 '133.      The Wolf of Wall Street(2013)',
 '134.      Judgment at Nuremberg(1961)',
 '135.      Ran(1985)',
 '136.      Casino(1995)',
 "137.      Pan's Labyrinth(2006)",
 '138.      Unforgiven(1992)',
 '139.      There Will Be Blood(2007)',
 '140.      The Truman Show(1998)',
 '141.      The Sixth Sense(1999)',
 '142.      A Beautiful Mind(2001)',
 '143.      Spider-Man: No Way Home(2021)',
 '144.      Yôjinbô(1961)',
 '145.      Shutter Island(2010)',
 '146.      Monty Python and the Holy Grail(1975)',
 '147.      The Treasure of the Sierra Madre(1948)',
 '148.      Jurassic Park(1993)',
 '149.      The Great Escape(1963)',
 '150.      Rashômon(1950)',
 '151.      Kill Bill: Vol. 1(2003)',
 '152.      No Country for Old Men(2007)',
 '153.      Finding Nemo(2003)',
 '154.      The Thing(1982)',
 '155.      The Elephant Man(1980)',
 '156.      Chinatown(1974)',
 '157.      Raging Bull(1980)',
 '158.      V for Vendetta(2005)',
 '159.      Gone with the Wind(1939)',
 '160.      Inside Out(2015)',
 '161.      Lock, Stock and Two Smoking Barrels(1998)',
 '162.      Dial M for Murder(1954)',
 '163.      El secreto de sus ojos(2009)',
 '164.      Hauru no ugoku shiro(2004)',
 '165.      The Bridge on the River Kwai(1957)',
 '166.      Three Billboards Outside Ebbing, Missouri(2017)',
 '167.      Trainspotting(1996)',
 '168.      Warrior(2011)',
 '169.      Fargo(1996)',
 '170.      Gran Torino(2008)',
 '171.      Prisoners(2013)',
 '172.      Tonari no Totoro(1988)',
 '173.      Million Dollar Baby(2004)',
 '174.      Catch Me If You Can(2002)',
 '175.      Bacheha-Ye aseman(1997)',
 '176.      The Gold Rush(1925)',
 '177.      Blade Runner(1982)',
 '178.      On the Waterfront(1954)',
 '179.      Before Sunrise(1995)',
 '180.      12 Years a Slave(2013)',
 '181.      Harry Potter and the Deathly Hallows - Part 2(2011)',
 '182.      Ben-Hur(1959)',
 '183.      Smultronstället(1957)',
 '184.      The Third Man(1949)',
 '185.      Gone Girl(2014)',
 '186.      The General(1926)',
 '187.      The Grand Budapest Hotel(2014)',
 '188.      The Deer Hunter(1978)',
 '189.      In the Name of the Father(1993)',
 '190.      Barry Lyndon(1975)',
 '191.      Le salaire de la peur(1953)',
 '192.      Klaus(2019)',
 '193.      Hacksaw Ridge(2016)',
 '194.      Mr. Smith Goes to Washington(1939)',
 '195.      Sherlock Jr.(1924)',
 '196.      Salinui chueok(2003)',
 '197.      Relatos salvajes(2014)',
 '198.      Det sjunde inseglet(1957)',
 '199.      Room(2015)',
 '200.      Mad Max: Fury Road(2015)',
 '201.      Mary and Max.(2009)',
 '202.      How to Train Your Dragon(2010)',
 '203.      The Big Lebowski(1998)',
 '204.      Monsters, Inc.(2001)',
 '205.      Jaws(1975)',
 '206.      Dead Poets Society(1989)',
 "207.      La passion de Jeanne d'Arc(1928)",
 '208.      Tôkyô monogatari(1953)',
 '209.      Hotel Rwanda(2004)',
 '210.      Ford v Ferrari(2019)',
 '211.      Rocky(1976)',
 '212.      Platoon(1986)',
 '213.      Stand by Me(1986)',
 '214.      The Terminator(1984)',
 '215.      Spotlight(2015)',
 '216.      Logan(2017)',
 '217.      Ratatouille(2007)',
 '218.      Pather Panchali(1955)',
 '219.      Rush(2013)',
 '220.      Network(1976)',
 '221.      Into the Wild(2007)',
 '222.      The Wizard of Oz(1939)',
 '223.      Before Sunset(2004)',
 '224.      Groundhog Day(1993)',
 '225.      The Exorcist(1973)',
 '226.      The Best Years of Our Lives(1946)',
 '227.      The Incredibles(2004)',
 '228.      La battaglia di Algeri(1966)',
 '229.      To Be or Not to Be(1942)',
 "230.      Hachi: A Dog's Tale(2009)",
 '231.      Pirates of the Caribbean: The Curse of the Black Pearl(2003)',
 '232.      The Grapes of Wrath(1940)',
 '233.      Everything Everywhere All at Once(2022)',
 '234.      La haine(1995)',
 '235.      Amores perros(2000)',
 '236.      Jai Bhim(2021)',
 '237.      Rebecca(1940)',
 '238.      Babam ve Oglum(2005)',
 '239.      Cool Hand Luke(1967)',
 '240.      Les quatre cents coups(1959)',
 '241.      Ah-ga-ssi(2016)',
 '242.      The Sound of Music(1965)',
 '243.      It Happened One Night(1934)',
 '244.      Persona(1966)',
 '245.      Life of Brian(1979)',
 '246.      Dersu Uzala(1975)',
 '247.      Aladdin(1992)',
 '248.      The Help(2011)',
 '249.      The Iron Giant(1999)',
 '250.      Gandhi(1982)']

In [7]:
# ratings top 250 imdb

ratings = soup.find_all('td', class_='ratingColumn imdbRating')
ratings

[<td class="ratingColumn imdbRating">
 <strong title="9.2 based on 2,663,957 user ratings">9.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.2 based on 1,846,084 user ratings">9.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 2,636,915 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 1,264,477 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 786,712 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,348,982 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,836,638 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 2,039,044 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,865,708 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 759,257 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 2,064,724 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 2,109,360 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,658,423 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 2,336,670 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,286,480 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,903,425 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,154,545 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,004,629 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,642,036 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 345,716 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 454,497 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,425,313 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 754,966 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,384,582 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 692,639 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,810,534 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,294,496 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,359,055 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,094,596 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,198,289 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 759,056 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 670,414 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 828,356 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 792,639 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,155,940 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,053,336 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,492,880 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,118,950 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,319,119 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,081,866 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,326,941 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 852,638 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 570,677 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 57,299 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 854,307 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 276,831 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 242,645 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 329,273 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 491,167 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 879,390 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 185,059 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 261,070 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 665,914 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,233,712 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 962,713 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,543,557 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,111,539 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 389,681 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 222,308 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 197,793 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,017,961 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 224,279 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,071,625 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 125,898 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 716,128 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 523,820 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,152,167 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 490,801 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,697,152 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 577,916 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 401,111 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,268,098 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,440,016 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 504,249 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 990,173 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,035,492 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 251,452 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,119,316 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 394,007 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 352,018 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 963,398 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 432,016 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 267,154 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 839,801 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 242,771 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 833,921 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 399,874 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 45,328 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,050,097 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 89,778 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,004,233 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 667,440 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,014,328 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 329,873 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 80,144 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 442,132 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 158,519 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 294,162 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 328,292 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 402,378 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 755,768 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 828,148 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 182,050 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 78,974 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 157,900 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 741,268 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 837,836 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 94,297 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 262,658 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 317,048 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 178,021 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,040,153 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 653,255 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 828,464 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 245,491 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 174,899 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 582,906 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 854,306 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 873,848 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 164,046 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 753,026 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 584,140 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 193,836 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 356,228 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 257,191 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,464,554 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 191,396 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 126,904 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 267,733 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 152,368 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 131,897 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 488,427 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,397,711 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 78,124 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 126,174 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 519,404 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 668,554 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 412,302 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 585,756 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,075,116 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 989,970 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 930,513 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 745,291 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 123,452 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,305,402 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 541,493 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 125,519 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 985,058 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 245,076 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 169,148 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,111,456 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 968,794 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,040,539 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 425,202 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 241,777 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 327,095 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 354,390 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,119,814 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 315,978 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 710,926 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 581,999 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 176,603 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 210,219 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 394,472 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 221,378 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 505,502 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 686,554 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 472,604 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 677,234 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 775,019 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 708,000 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 338,935 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 686,945 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 976,398 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 75,246 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 111,888 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 767,766 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 155,771 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 308,315 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 699,996 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 871,758 user ratings">8.1</strong>

In [8]:
# parse ratings top 250 imdb

imdb_ratings = []
for rtng in ratings:
    rtng = rtng.get_text().replace('\n', '')
    rtng = rtng.strip(' ')
    imdb_ratings.append(rtng)
imdb_ratings

['9.2',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [17]:
# create DataFrame

df = pd.DataFrame()
df['Movie Names'] = movies_name
df['IMDB_Ratings'] = imdb_ratings
df.head()

                              Movie Names IMDB_Ratings
0  1.      The Shawshank Redemption(1994)          9.2
1             2.      The Godfather(1972)          9.2
2           3.      The Dark Knight(2008)          9.0
3     4.      The Godfather Part II(1974)          9.0
4              5.      12 Angry Men(1957)          9.0

In [18]:
# add separate column 'Year'

df['Year'] = df['Movie Names'].apply(lambda title:title.split('(')[-1].replace(')', ''))
df.head()

                              Movie Names IMDB_Ratings  Year
0  1.      The Shawshank Redemption(1994)          9.2  1994
1             2.      The Godfather(1972)          9.2  1972
2           3.      The Dark Knight(2008)          9.0  2008
3     4.      The Godfather Part II(1974)          9.0  1974
4              5.      12 Angry Men(1957)          9.0  1957

In [27]:
# delate year from 'Movie Names'

list_name = df['Movie Names'].tolist()
new_list = []
for i in list_name:
    i = ''.join(i)
    new_list.append(i[7:-6])

In [28]:
df['Movie Names'] = new_list

In [31]:
df

                   Movie Names IMDB_Ratings  Year
0     The Shawshank Redemption          9.2  1994
1                The Godfather          9.2  1972
2              The Dark Knight          9.0  2008
3        The Godfather Part II          9.0  1974
4                 12 Angry Men          9.0  1957
..                         ...          ...   ...
245                Dersu Uzala          8.0  1975
246                    Aladdin          8.0  1992
247                   The Help          8.0  2011
248             The Iron Giant          8.0  1999
249                     Gandhi          8.0  1982

[250 rows x 3 columns]

In [32]:
# swap columns

df = df.reindex(columns=['Movie Names', 'Year', 'IMDB_Ratings'])

In [33]:
# Top 10

df.iloc[0:10]

                                         Movie Names  Year IMDB_Ratings
0                           The Shawshank Redemption  1994          9.2
1                                      The Godfather  1972          9.2
2                                    The Dark Knight  2008          9.0
3                              The Godfather Part II  1974          9.0
4                                       12 Angry Men  1957          9.0
5                                   Schindler's List  1993          8.9
6      The Lord of the Rings: The Return of the King  2003          8.9
7                                       Pulp Fiction  1994          8.8
8   The Lord of the Rings: The Fellowship of the ...  2001          8.8
9                    Il buono, il brutto, il cattivo  1966          8.8

#### Exporting the data to CSV and excel files

In [ ]:
df.to_excel("movies_info.xlsx", index = False, header = True)

In [ ]:
df.to_csv("movies_info.csv", index = False, header = True)